header ul li{
    display:inline;
    margin:20px 20px 0px 20px
}
.background1{
    background-color:#3A3A3A;
    margin:0;
    padding:20px 50px 20px 50px;
}
a{
    color:#FFFFFFD1;
    text-decoration:none;
    font-family:sans-serif;
    
   
}
.header{
    background-color: black;
    padding:1px 0px 5px 200px;
    
}
.logo2{
padding:5px 0px 5px 300px;
}
.logo6{
position:relative;
left:40px;
top:6px;
}
#search{
margin:-40px 0px 10px 1300px;

}
.logo3{
margin:-124px 0px 0px 1123px;
}
.logo5{
position:relative;
top:-30px;
left:1240px
}
.sdt{
color:#FFFFFFD1;
text-decoration:none;
font-family:sans-serif;
font-size:14px;
position:relative;
left:5px;
top:-17px;

}
.diachi{
color:#FFFFFFD1;
text-decoration:none;
font-family:sans-serif;
font-size:14px;
position:relative;
top:-20px;
left:5px;
text-decoration:none;
}
.logo4{
position:relative;
top:-70px;
left:1350px
}
.logo7{
position:relative;
top:5px ;
}
.logo8{
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:404px;
top:30px

}
.textlogo8{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left:560px;
top:40px;
}
.logo9{
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:790px;
top:-298px
}
.textlogo9{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left: 960px;
top:-288px;
}
.logo10{
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:1180px;
top:-626px
}
.textlogo10{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left:1220px;
top:-617px;
}
.logo11{
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:404px;
top:-560px;
}
.textlogo11{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left:460px;
top:-545px;
}
.logo12{
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:794px;
top:-886px;
}
.textlogo12{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left:830px;
top:-873px;
}
.logo13{ 
width:359.98px;
height:300px;
background-color:#F2F2F2;
position: relative;
left:1183px;
top:-1213px;

}
.textlogo13{
font-family:sans-serif;
font-size:24px;
color:#111111;
position: relative;
left:1280px;
top:-1200px;

}


